<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div>
            <h1>¿Alguna vez has escuchado el término "Contenedor"?</h1>
        </div>
        <div>
            <h4>Un contenedor es un espacio de almacenamiento capaz de contener información completamente aislada de otra.Con ayuda de un contenedor un desarrollador es capaz de implementar todos los recursos que necesita para el desarrollo de un proyecto sin la necesidad de que tenga contacto con algún otro proyecto, es decir, toda la información módulos y el resto de elementos necesarios van a ubicarse dentro de un espacio independiente</h4>
        </div>
        <div>
            <img src="https://www.teamnet.com.mx/hs-fs/hubfs/contenedores%20inform%C3%A1tucos.png?width=320&height=255&name=contenedores%20inform%C3%A1tucos.png" >
        </div>
        <div>
            <h4>Revicemos un poco sobre <a href="/docker">Docker</a></h4>
            <h4>Revicemos un poco sobre <a href="/ubuntu">Ubuntu</a></h4>
        </div>
        
        
    </body>

    </html>