<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div>
            <h1>¿Porqué no hablamos un poco acerca de Ubuntu?</h1>
        </div>
        <div>
            <h4>Ubuntu es un sistema operativo de código abierto que permite muchas libertades a la hora de desarrollar algún proyecto.Ubuntu permite la instalación de software tal como lo es docker de una manera completamente sencilla y no solamente sino que además es posible utilizar herramientas de desarrollo que en otros sistemas operativos resultaría muy difícil o a veces imposible de utilizar de una forma muy sencilla.</h4>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0L1XcbE4mwRPmNogNkKAHUSCx0ycqd7Xstw&usqp=CAU" alt="">
        </div>
        <div>
            <h4>Regresemos a revisar lo que es un <a href="/">Contenedor</a></h4>
            <h4>Vayamos a leer lo que es <a href="/docker">Docker</a></h4>

        </div>
        
        
    </body>

    </html>